.title {
    color: gold;
    text-shadow: 2px 2px #770000;
    font-family: "Comic Sans MS", Times, sans-serif;
    font-size: 25px;
    /*position: absolute;*/
    text-align: center;
    margin: 0;
    padding: 0;
    /*-webkit-app-region: drag;*/
}

body {
    background: seashell;
    height: 725px;
    overflow: hidden;
    width: 400px;
    -webkit-app-region: drag;
    -webkit-user-select: none;

}

.download-item {
    height: 60px;
    width: 350px;
    align-content: center;
    /*position: absolute;*/
    box-sizing: border-box;
    margin: 10px;
    border-style: solid;
    border-color: gold;
    border-width: 1px;
    box-shadow: 2px 2px #888888;
}
.download-item .download-item__image {
    height: 50px;
    width: auto;
    box-sizing: border-box;
    padding-right: 2px;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    background-color: transparent;
}

.download-item .download-item__title {
    padding: 5px;
    position: relative;
    top: -40px;
    left: 50px;
}

.download-item .download-item__url {
    padding: 5px;
    position: relative;
    top: -45px;
    left: 50px;
    /*left: -32px;*/
}

.download-item .download-item__button {
    padding: 5px;
    position: relative;
    top: -80px;
    right: -300px;
    /*background-image: url('/app/img/download.png');*/
    /*background-repeat: no-repeat;*/
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.download-item .download-item__button .button__skin {
    display: block;
    left: 0;
    position: absolute;
    top: -5%;
    z-index: 1;
    length: 40px;
    width: 40px;
    /*length: 20px;*/
    /*width: 20px;*/
}

.download-item .download-item__folder {
    padding: 5px;
    position: relative;
    top: -133px;
    right: -245px;
    /*background-image: url('/app/img/download.png');*/
    /*background-repeat: no-repeat;*/
    background-color: transparent;
    width: 40px;
    height: 45px;
    border: none;
    color: white;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
}

.download-item .download-item__folder .button__skin {
    display: block;
    left: 0;
    position: absolute;
    top: -5%;
    z-index: 1;
    length: 45px;
    width: 40px;
    /*length: 20px;*/
    /*width: 20px;*/
}

.download-item .download-item__downloadBar {
    width: 350px;
    height: 5px;
    background-color: #b2b2b2;
    /*text-align: center; !* To center it horizontally (if you want) *!*/
    line-height: 30px; /* To center it vertically */
    position: relative;
    top: -80px;
}

.download-item .download-item__downloadBar .progressBar{
    width: 10%;
    height: 5px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}
